# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
    - release/*
    - development
    - support/*
    - hotfix/*
    exclude:
    - regs/tags/*

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  fetchDepth: 0
  displayName: "Git Checkout"
  persistCredentials: true
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    useGlobalJson: true
- task: gitversion/setup@0
  displayName: Setup GitVersion
  inputs:
    versionSpec: '5.12.0'
- task: gitversion/execute@0
  displayName: Run GitVersion
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'Turing Pi 2 Client.sln'
    arguments: '-c Release'
- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: 'Turing Pi 2 Client.sln'
    nobuild: true
    versioningScheme: 'off'
    buildProperties: '-c Release'
    